body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1, h3 {
  text-align: center;
}
form {
  height: 10vh;
  margin: 0 auto;
  width: 50vh;
}
input[type="text"],
input[type="text"]:focus{
  outline: none;
  width: 160px;
}
input[type="submit"] {
  background-color: lightblue;
  border: none;
  border-radius: 0;
  height: 20px;
  margin-top: -1vh;
  width: 50px;
}
input[type="submit"]:hover {
  background-color: lightgreen;
}
/*  */
main {
  /* background: linear-gradient(160deg, #fff 50%, #000 50%); */
  height: 80vh;
  width: 100%;
}
/*  */
