body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
h1, h3 {
  text-align: center;
}
form {
  width: 50vh;
  height: 10vh;
  margin: 0 auto;
}
input[type="text"],
input[type="text"]:focus{
  outline: none;
  width: 160px;
}
input[type="submit"] {
  width: 50px;
  height: 20px;
  border: none;
  border-radius: 0;
  margin-top: -1vh;
  background-color: lightblue;
}
input[type="submit"]:hover {
  background-color: lightgreen;
}
/*  */

main {
  height: 80vh;
  width: 100%;
  background: linear-gradient(160deg, #fff 50%, #000 50%);
}
